<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nz2dev.wordtrainer.app">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".core.WordTrainerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.modules.startup.StartupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".presentation.modules.home.HomeActivity" />
        <activity android:name=".presentation.modules.word.train.TrainWordActivity" />
        <activity android:name=".presentation.modules.account.AccountActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <service android:name=".services.check.CheckDatabaseService" />
        <service android:name=".services.AlarmService" />
        <service android:name=".services.TestService" />
        <service android:name=".services.training.TrainingScheduleService" />

        <receiver android:name=".services.AlarmReceiver" />
    </application>

</manifest>